<!DOCTYPE html>
<html>
  <head>
    <title>フリマアプリ</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
      <%= yield %>
    <div class="alert">
      <% flash.each do |message_type, message| %><%= message %><% end %>
    </div>
  </body>
</html>